<!-- <mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>Fantasy Football</span>
    <span class="toolbar-spacer"></span>
    <span class="login" (click)="auth.login()">Login</span>
    <mat-icon class="toolbar-icon btn" matTooltip="Login" (click)="auth.login()" aria-hidden="false" aria-label="login">exit_to_app</mat-icon>
    <span class="logout" (click)="auth.logout()">Logout</span>
    <mat-icon class="toolbar-icon btn" matTooltip="Logout" (click)="auth.logout()" aria-hidden="false" aria-label="logout">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar> -->
<router-outlet></router-outlet>