<mat-toolbar>
  <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
    <span>Fantasy Football</span>
    <span class="toolbar-spacer"></span>
    <span class="login" (click)="auth.login()">Login</span>
    <mat-icon class="toolbar-icon btn" matTooltip="Login" (click)="auth.login()" aria-hidden="false" aria-label="login">exit_to_app</mat-icon>
    <span class="logout" (click)="auth.logout()">Logout</span>
    <mat-icon class="toolbar-icon btn" matTooltip="Logout" (click)="auth.logout()" aria-hidden="false" aria-label="logout">exit_to_app</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<main>
  <div [className]="condition ? 'container' : 'container right-panel-active'">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <input type="text" placeholder="Name" />
        <input type="password" placeholder="Password" />
        <button (click)="btnClick()">Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Sign in</h1>
        <span>or use your account</span>
        <input placeholder="Name" />
        <input type="password" placeholder="Password" />
        <a href="#">Forgot your password?</a>
        <button (click)="btnClick()">Sign In</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Welcome Back!</h1>
          <p>To keep connected with us please login with your personal info</p>
          <button class="ghost" id="signIn">Sign In</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Hello, Friend!</h1>
          <p>Enter your personal details and start journey with us</p>
          <button class="ghost" id="signUp">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>